<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Beans de la clase anterior (sin cambios) -->
    <bean id="notificacion" class="com.tiendaapp.EmailNotificacion"/>
    <bean id="pedidoService" class="com.tiendaapp.PedidoService">
        <constructor-arg ref="notificacion"/>
    </bean>

    <!-- NUEVO: Bean Prototype -->
    <bean id="pedido" class="com.tiendaapp.Pedido"
          scope="prototype"/>

    <!-- NUEVO: Bean con lifecycle -->
    <bean id="logService" class="com.tiendaapp.LogService"
          init-method="iniciar" destroy-method="cerrar"/>

    <!-- NUEVO: Bean con property injection -->
    <bean id="config" class="com.tiendaapp.ConfiguracionApp">
        <property name="nombreEmpresa" value="TiendaApp"/>
        <property name="version" value="1.0"/>
        <property name="modoDebug" value="true"/>
    </bean>

    <bean id="notificacionWhatsApp" class="com.tiendaapp.WhatsappNotificacion"
          init-method="conectar"
          destroy-method="desconectar">
        <property name="codigoPais" value="+593"/>
        <property name="numeroBase" value="0983317881"/>
    </bean>
</beans>
